/* MQ De Dos tamaños */
.oferta {
    background-color: #0044;
    padding: 2rem;
    text-align: center;

}

.precio {
    margin: 0;
    font-size: 5rem;
}

@media(min-width: 600px) and (max-width: 800px) {
    .oferta{
        background-color: aqua;
    }
    
 }
 